.cars {
   &__heading {
        color: #094067;
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 16px;
        font-family: Roboto;
    }
    &__container {
        gap: 32px;
        display: flex;
        overflow: scroll;
    }
    &__container::-webkit-scrollbar {
        display: none;
      }
}