@import "../../../variables.scss";

.auctions {
    &__mainTitle {
        color:#094067;
        font-size: 48px;
        font-weight: 400;
        font-family: Roboto;
        margin-bottom: 16px;
    }
    
    &__header {
        display: grid; 
        background-color: #094067;
        border: 1px solid #094067;
        border-radius: 16px 16px 0 0;
        grid-template-columns: 30% 38% 7% 25% ;
        @media only screen and (max-width: $mobile) {
            display: none;
        }
        &_title {
            color: #FFF;
            font-size: 16px;
            font-weight: 400;
            padding: 10px 8px;
            font-family: Roboto;
            letter-spacing: 0.024px;
        }
    }

    &__row {
        display: grid; 
        grid-template-columns: 30% 38% 7% 25% ;

        @media screen and (min-width: $mobile) {
            &:last-child > &_lastItem{
                border-radius: 0px 0px 16px 0px;
              }
              &:last-child > &_firstItem{
                border-radius: 0px 0px 0px 16px;
              }
        }
        @media screen and (max-width: $mobile) {
            width: 100%;
            display: flex;
            max-width: 288px;
            background: #FFF;
            border-radius: 16px;
            margin-bottom: 16px;
            flex-direction: column;
            padding: 8px 8px 16px 10px;
            border: 1px solid rgba(95, 108, 123, 0.20);
            box-shadow: 0px 4px 38px 0px rgba(9, 64, 103, 0.12);
        }

          &_item {
            gap: 8px;
            padding: 8px;
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            justify-content: left;
            border: 1px solid rgba(95, 108, 123, 0.20); 
            @media screen and (max-width: $mobile) {
                border: none;
            }
          }
          &_lastItem {
            align-items: center;
            justify-content: center;
          }
    }

    &__time {
        color:#5F6C7B;
        font-size: 14px;
        font-weight: 700;
        font-style: italic;
        font-family: Quantico;
    }

    &__liveNowBanner {
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
        padding: 2px 4px;
        font-family: Roboto;
        letter-spacing: 0.048px;
        background-color:#4CAF50;
    }

    &__countryText, &_itemsnumberText {
        gap: 4px;
        display: flex;
        flex-wrap: wrap;
        color:#5F6C7B;
        font-size: 14px;
        font-weight: 500;
        align-items: center;
        font-family: Roboto;
        justify-content: center;
        letter-spacing: 0.014px;
    }

    &__listLink {
        color:#4CAF50;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        font-family: Roboto;
        letter-spacing: 0.014px;
    }

    &__joinButton {
        width: 80%;
        padding: 6px;
        color: #FFF;
        border: none;
        font-size: 14px;
        font-weight: 500;
        border-radius: 15px;
        background:#4CAF50;
        font-family: Roboto;
        letter-spacing: 0.014px;
        box-shadow: 0px 8px 38px 0px rgba(76, 175, 80, 0.32);
    }

    &__mobile_title {
        color:#5F6C7B;
        font-size: 15px;
        font-weight: 400;
        font-family: Roboto;
        letter-spacing: 0.023px;
        @media screen and (min-width: $mobile) {
            display: none;
    }
}

}