   .footerNavbar {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        }
    &__socialMediaLinks {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        @media only screen and (max-width:320px) {
            gap: 10px;
        }
        }
    &__SocialMediaLink {
        display: flex;
        padding: 16px;
        align-items: flex-start;
        border-radius: 34px;
        background: #FFF; 
        @media only screen and (max-width:320px) {
            padding: 10px;
        }
    }
    &__termsLink {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 0.048px;
        @media only screen and (max-width:768px) {
            display: none;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }
    &__content1 {
        color: #FFFFFE;
        text-align: center;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.048px;
    }
    &__content2 {
        color: #FFFFFE;
        text-align: center;
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.15px;
    }
    }
    
    